/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 1, 2020, 8:56:03 PM
    Author     : MyPC
*/

#aler{
    margin-top:250px;
    margin-left:350px;
    font-size:50px;
    color:red;
    background-color: green;
    display:inline-block;
    padding:70px;
    cursor: pointer;
        
}